{
    "plugins": ["@babel/plugin-syntax-dynamic-import"],
    "presets": [
        [
            "@vue/app",
            {
                "polyfills": ["es7.object.entries", "es6.promise"]
            }
        ]
    ]
}